<div *ngFor="let following of viewer.following?.nodes">
  <div class="row p-3">
    <img [src]="following.avatarUrl" class="rounded float-left" alt="following.name" width="10%" height="10%">
    <div class="float-right" style="width: 70%;">
      <span class="text-primary m-2" style="font-size: 1.25rem" *ngIf="following.name;else other_content">
        {{following.name}}
      </span>
      <ng-template #other_content>
        <span class="text-primary m-2" style="font-size: 1.25rem">{{following.login}}</span>
      </ng-template>
      <span class="m-2 text-muted">{{following.login}}</span>
      <br>
      <div>
        <p class="m-2 text-muted">{{following.bio}}</p>
        <div class="m-2 text-muted">
          <span *ngIf="following.company">
            <i class="fa fa-users m1-2"></i> {{following.company}}</span>
          <span class="ml-3" *ngIf="following.location">
            <i class="fa fa-map-marker mr-1"></i> {{following.location}}</span>
        </div>
      </div>
    </div>

  </div>
  <hr>
</div>
