<img class="img-fluid rounded" [src]="ownerObject?.avatarUrl " alt="avatarUrl " width="100% ">
<p class="mb-0 text-primary" style="font-size: 1.75rem; font-weight: bold">{{ownerObject?.name}}</p>
<p class="text-muted" style="font-size: 1.25rem">{{ownerObject?.login}}</p>
<p class="text-muted" style="font-size: 1rem">{{ownerObject?.bio}}</p>
<button class="btn btn-primary ml-5">Show Bio</button>
<hr>
<p class="text-muted" style="font-size: 1rem">
  <i class="fa fa-map-marker mr-2"></i>{{ownerObject?.location}}</p>
<p class="text-muted" style="font-size: 1rem">
  <i class="fa fa-link mr-2"></i>{{ownerObject?.websiteUrl}}</p>
<p class="text-muted" style="font-size: 1rem">
  <i class="fa fa-envelope mr-2"></i>{{ownerObject?.email}}</p>
